<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Hub</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

  <div class="wrapper">
    <header>
        <h1>
        <a href="/">Tech Hub</a>
        </h1>
        <nav>
            {{#if loggedIn}}
            <a href="/dashboard/">Dashboard</a> |
            <a href="/dashboard/new">Create Post</a>
            <button id="logout">Logout</button>
            {{else}}
            <a href="/login">Login</a> |
            <a href="/signup">Sign Up</a>
            {{/if}}
        </nav>
    </header>

    <main>
            {{{ body }}}
    </main>

    <footer class="footer rows pb-2">
        <div>
            <p>
            {{#if loggedIn}}  
            <a href="/dashboard/">Dashboard</a> | 
            <a href="/dashboard/new/">Create New Post</a>
            {{else}}
             <a href="/login/">Login</a> |
             <a href="/signup/">Sign Up</a>

            {{/if}}
            </p>
        </div>

    </footer>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>